
<%def name="pagelist()">
  <%
    import re
    lines = capture(caller.body).strip().splitlines()
    lines = (re.split(r';\s+', line.strip(), 1) for line in lines)
    baseurl = 'http://github.com/feihong/javascript-examples/tree/master/site'
  %>

  <table>
  % for slug, title in lines:
    <tr>
      <td style="padding-right: 2em">
        <a href="${slug}/">${title}</a>
      </td>
      <td>
        <a href="${baseurl}/${slug}">Source</a>
      </td>
    </tr>
  % endfor
  </table>
</%def>
